.tituloCentrado{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 300px 100px;
    justify-content: end;

}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/000/149/782/small/outline-tiramisu-cake-pattern-free-vector.jpg);
}
h1{
     color: rgb(243, 181, 10);
     text-align: start;
     font-family:'Abel', sans-serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap : 200px;
    margin: auto;
}
h2{
    color: rgb(243, 181, 10);
     text-align: start;
     font-family:'Abel', sans-serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap : 200px;
    margin: auto;
}
table{
    background-image: linear-gradient(to left , brown , yellow);
}
@media only screen (max-width 375) and (max-width 768) and (max-width 1400){
    body{
        background-color: brown;
    }
    div{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    }
    