.bg{
    background-image: url(file:///C:\Users\gonza\Desktop\desarrollo\TEREproye4\img\tere.jpg);
    background-position: center center;
}
.bg img{
    height: 500px;
    width: 500px;
    object-fit: cover;
}
body{
    background-color: #c5a188;
}
h1{
    text-align: center;
    color: #574030;
    font-family: 'Dancing Script', cursive;
}
h2{
    color: #574030;
    font-family: 'Dancing Script', cursive;
}