* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url(C:\Users\gonza\Desktop\TEREproye4\img\fondopagina.jpg);
    background-color: #574030;
}
#navegador{
    background-color: #c5a188;
}
nav {
    background: #c5a188;
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
    font-family: 'Dancing Script', cursive;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid cyan;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul ul li a {
    line-height: 50px;
}

nav ul ul li a:hover {
    color: #574030;
    box-shadow: none;
}

nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul li{
    float:left;
    display: inline-block;
    background: #c5a188;
    margin: 0 5px;
}

nav ul li a {
    color: #574030;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover {
    color: #574030;
    border-radius: 10px;
    box-shadow: 0 10px 50px #574030,
                0 0 5px #574030;
}

.fa-plus {
    margin-left: 40px;
    font-size: 15px;
}


.show, .icon, input {
    display: none;
}
#logo{
    text-align: center;
}
.opc{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 270px;
    object-fit: cover;
    box-shadow: #574030;
}
a{
    color: #574030;
    text-decoration: none;
    font-style: italic;
    font-size: 100%;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}

#seccion1{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px;
    background-color: #c5a188;
}
.ingresar{
    margin-left: 90px;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 0%;
    color: rgba(109, 57, 8, 0.597);
}
#SeccionBaja{
    display: flex;
    flex-direction: row;
    margin: 0%;
    padding: 0%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
    align-content: space-around;
    background-color: #c5a188;
    font-family: 'Rubik', sans-serif;
    grid-area: seccionBaja;
}
h1{
    text-align: center;
    color: #574030;
    font-family: 'Dancing Script', cursive;
}
.sn{
    text-align: center;
    color: #c5a188;
    font-family: 'Dancing Script', cursive;
}
h2{
    text-align: center;
    align-items: top;
    margin-top: 0%;
}
p{
    text-align: center;
}
#navegacion{
    text-align: right;
    margin: 0 15px;
    padding: 0%;
}
menu{
    margin: 0%;
    padding: 0%;
}

h1{
    text-align: center;
    color: #c5a188;
    font-family: 'Dancing Script', cursive;
}
.sn{
    text-align: center;
    color: #c5a188;
    font-family: 'Dancing Script', cursive;
}
h2{
    text-align: center;
    align-items: top;
    margin-top: 0%;
    font-family: 'Dancing Script', cursive;
}
th{
    text-decoration: underline;
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
}
td{
    text-align: center;
}
table, th, td {
    border: 2px solid #574030;
    padding: 25px;
  }

p{
    text-align: center;
}

#SobreNosotros{
    display: flex;
    flex-direction: column;
    text-align: center;
    color:#c5a188;
    font-family: 'Rubik', sans-serif;
    grid-area: sobreNosotros;
}
.carousel-inner> .carousel-item> img { 
    width:400px ; height: 400px; 
    object-fit: cover;
}
.carousel-item {
    width: 300px; height: 300px;
    transition: all 2s;
}
.carousel-item:hover{
    height: 300px; width: 300px;
    padding: 20px;
    transform:scale(400px);
}
#carouselExampleSlidesOnly{
    margin-left: 100px;
    border-radius: 20%;
}
.TitulosBajos{
    margin-left: 0px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 30px 300px;
    grid-column-gap: 3px;
    grid-template-areas: 'mediosDePago newletter mapa'
                         'mediosDePago newletter mapa';
    background-color: #574030;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}
.TitulosBajos h2 ,p{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    text-decoration: underline;
    color: #c5a188;
}
.newletter{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: #c5a188;
    text-decoration: underline;
}
#tablas{
    background-color: #c5a188;
}
.pago{
    display: flex;
    flex-direction: column;
}
#SeccionBaja{
    background-color: #574030;
}
.carrusel{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    text-align: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: center;
    background-image: url(C:\Users\gonza\Desktop\TEREproye4\img\fondopagina.jpg);
    margin-bottom: 30px;
}
@media all and (max-width: 968px) {
    #navegador nav ul {
         margin-right: 0px;
         float: left;
     }
 
    #navegador nav .logo {
         padding-left: 30px;
         width: 100%;
     }
 
    #navegador nav ul li, nav ul ul li {
         display: block;
         width: 100%;
     }
 
   #navegador nav ul ul {
         top: 70px;
         position: static;
         border-top: none;
         float: none;
         display: none;
         opacity: 1;
         visibility: visible;
     }
 
    #navegador nav ul ul li {
         border-bottom: 0px;
     }
 
     #navegador nav ul ul a {
         padding-left: 80px;
     }
 
     .show {
         display: block;
         color: #c5a188;
         font-size: 18px;
         padding: 0 20px;
         line-height: 70px;
         cursor: pointer;
     }
     .show:hover {
         color: #574030;
     }
     .icon {
         display: block;
         color: #574030;
         position: absolute;
         right: 48px;
         line-height: 70px;
         font-size: 25px;
         cursor: pointer;
     }
     nav ul li a:hover {
         box-shadow: none;
     }
     .show + a, ul {
         display: none;
     }
     [id^=btn]:checked + ul {
         display: block;
     }
     #opciones {
         display: flex;
         flex-direction: column;
         flex-wrap: nowrap;
         align-content: center;
         justify-content: center;
         align-items: center;
         margin-left: 0%;
         background-color: #c5a188;
     }
     #galeria{
         margin-left: 0px;
         display: none;
         flex-direction: column;
         flex-wrap: nowrap;
         align-content: center;
         justify-content: center;
         align-items: center;
     }
     #SeccionBaja{
         display: none;
         flex-direction: column;
         margin: 0%;
         padding: 0%;
         flex-wrap: nowrap;
         align-items: flex-start;
         justify-content: space-around;
         align-content: space-around;
         background-color: #c5a188;
         font-family: 'Rubik', sans-serif;
         grid-area: seccionBaja;
     }
     .TitulosBajos{
         display: flex;
         flex-direction: column;
         flex-wrap: nowrap;
         align-content: center;
         justify-content: center;
         align-items: center;
         margin-left: 0%;
         background-color: #c5a188;
         font-family: 'Rubik', sans-serif;
     }
     #carouselExampleSlidesOnly{
        margin-left: 20px;
    }
    }
    .TitulosBajos{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-left: 0%;
        background-color: #574030;
        font-family: 'Rubik', sans-serif;
        text-decoration: #c5a188;
    }